# Author: gavaletz@google.com (Eric Gavaletz)
#
# Files that we do not want tracked by git.


# Binary files
*.pyc
android/bin/
android/images/
android/.settings/
tcpserver/bin/
tcpserver/mlab/
tcpserver/*.jar
WaterWIFIPerf/bin/
WaterWIFIPerf/images/
WaterWIFIPerf/.settings/
AudioTest/bin/
AudioTest/images/
AudioTest/.settings/

# These are produced by templates
server/app.yaml
server/gspeedomenter/config_private.py
server/gspeedometer/templates/base.html
android/gen/
WaterWIFIPerf/gen/
AudioTest/gen/

# This is for development data (not to be tracked)
server/dev_data/


# Random evil files
*.DS_Store
android/*/*/.DS_Store
WaterWIFIPerf/*/*/.DS_Store
AudioTest/*/*/.DS_Store

# Project files
android/android.iws
AudioTest/android.iws
WaterWIFIPerf/android.iws